@page
@model Moment1_2.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>Jag som gjort denna sida heter Linnéa Hådén och är student på Mittuniversitetet.</p>
<img alt="Porträtt av Linnéa Hådén" class="img-thumbnail w-50" src="~/images/210819-DSC_3878.jpg"/>